/* Set the font and background for the entire page */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9998rem;
  line-height: 1.5;
  color: #333;
}

h1 {
  margin: 0%;
  padding: 0%;
  font-size: 80px;
  font-family: 'Euphoria Script', cursive;
}

/* Style the hero section */
.faq-hero {
  background-color: #fff;
  padding: 3.125rem 1.25rem;
  text-align: center;
}


/* Style the questions section */
.questions {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.question-1,
.question-2,
.question-3,
.question-4,
.question-5,
.question-6 {
  margin-bottom: 2.5rem;
}

.question-1 h2,
.question-2 h2,
.question-3 h2,
.question-4 h2,
.question-5 h2,
.question-6 h2 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 1.25rem;
}

.question-1 p,
.question-2 p,
.question-3 p,
.question-4 p,
.question-5 p,
.question-6 p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}

/* Style the contact section */
.get-in-touch {
  background-color: #333;
  color: #fff;
  padding: 3.125rem 1.25rem;
  text-align: center;
}

