/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 1em;
}

nav a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

/* Hero-1 Styles */
.hero-1 {
  margin: 0;
  height: 55rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0;
  background-image: url("/images/hero/home-hero-1.jpg");
  background-size: 100% 100%;
}

.hero-1-left {
  width: 50%;
}

.hero-1-left h1 {
  font-size: 48px;
  margin-bottom: 1em;
}

.hero-1-left p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.hero-1-buttons {
  display: flex;
}

.portfolio-button {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  margin-right: 1em;
}

.about-button {
  background-color: #fff;
  color: #333;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #333;
}

.hero-1-right {
  width: 50%;
}

.hero-1-right img {
  width: 100%;
}

/* Hero-2 Styles */
.hero-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0;
}

.hero-2-written {
  width: 50%;
}

.hero-2-written h2 {
  font-size: 36px;
  margin-bottom: 1em;
}

.hero-2-written p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.hero-2 img {
  width: 50%;
}

/* Hero-3 Styles */
.hero-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0;
}

.hero-3-written {
  width: 50%;
}

.hero-3-written h2 {
  font-size: 36px;
  margin-bottom: 1em;
}

.hero-3-written p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.hero-3 img {
  width: 50%;
}

/* Works Section Styles */
.works {
  padding: 4em 0;
}

.works h2 {
  font-size: 36px;
  margin-bottom: 1em;
}

/* Reviews Section Styles */
.reviews {
  padding: 4em 0;
}

.reviews h2 {
  font-size: 36px;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.review-blocks {
  display: flex;
  justify-content: space-between;
}

.reviews-block-1,
.reviews-block-2,
.reviews-block-3,
.reviews-block-4 {
  padding: 1%;
  margin: 1.5%;
  width: 30%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
