/* CSS for mobile screens */

/* Set the width of the page to the device width */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9998rem;
  line-height: 1.5;
  color: #333;
}


.main {
  background-image: url("images/hero/home-hero-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat:inherit;
  height: 50rem;
  padding: 0;
  margin: 0;
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* Adjust the layout of the hero sections */

.hero-2 img,.hero-3 img {
  width: 90%;
  height: 90%;
  border-radius: 100%;
}

.hero-1 {
  text-align: center;
}

.hero-1 h1 {
  margin-top: 5rem;
  font-size: 3rem;
}

.hero-1-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-1-buttons a {
  display: block;
  padding: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 2rem;
  margin: 1rem;
}

.hero-1-buttons a:hover {
  color: #f2f2f2;
  background-color: #333;
}

.hero-2-written,.hero-3-written {
  padding: 1rem;
}

.hero-2 h2,.hero-3 h2  {
  font-family: 'Euphoria Script', cursive;
  font-size: 45px;
}

.hero-2 p, .hero-3 p {
  font-size: 16px;
}

.hero-3,.hero-2 {
  width: 95%;
  padding: 5%;
  text-align: center;
}


/*------------------------------------------- Adjust the layout of the reviews section --------------------------------------------- */


.review-box {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-flex;
  width: 400px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

.review-box figcaption {
  padding: 13% 10% 12%;
}


.review-box h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.review-box h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.review-box blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.reviews {
  text-align: center;
  padding-bottom: 3rem;
}

.works {
  text-align: center;
}


.reviews h2, .works h2, .reviews h2,.works h2 {
  font-size: 80px;
  font-family: 'Euphoria Script', cursive;
}

/*----------------------------Works----------------*/

.works h2 {
  margin-bottom: 0%;
}

.container {
  display: grid;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100rem;
}

.box {
  overflow: hidden;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 2.5rem;
  display: block;
  text-align: center;
  height: 10rem;
  line-height: 2.6;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 720px) {

  .container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50rem;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    height: 10rem;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

}



@media (min-width: 1296px) {
  /* Styles for desktop screens */

  .hero-1 {
    text-align: center;
  }
  
  .hero-2 img,.hero-3 img {
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
  }

  .hero-2 {
    padding: 2rem;
    padding-bottom: 0;
    margin-top: 3rem;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .hero-3 {
    padding: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .hero-1 h1 {
    margin-top: 6rem;
    font-size: 8rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .hero-1 p {
    font-size: 1.4rem;
    margin-top: 0;
    padding-top: 0;
  }

  .main {
    background-image: url("images/hero/home-hero-1.jpg");
    height: 63rem;
  }

/*--------------------------------------------------------------------------------Works Desktop-------------------------------------------------------------------------------*/


  .container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50rem;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    height: 10rem;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
   
  .review-blocks {
  grid-template-columns: repeat(3, 1fr);
  padding: 13%;
  padding-top: 1%;
  padding-bottom: 1%;

}
  
.hero-2 h2,.hero-3 h2  {
  font-size: 60px;
}

.hero-2 p,.hero-3 p  {
  font-size: 20px;
}

}