body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
  overflow-x: hidden ;
}

h1{
  font-family: 'Euphoria Script', cursive;
  font-size: 80px;
  margin: 0%;
  padding: 0%;
  font-size: 80px;
  font-family: 'Euphoria Script', cursive;
}

h2{
  color: black;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.product-section p {
  color: black;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2.0032px;
  text-transform: uppercase;
}

.product-section{
  text-align: center;
}

.product {
  display: grid;
  border-radius: 12px;
  border: 0.9968px solid rgba(255, 255, 255, 0.125);  
  display: grid;
  align-items: center;
  justify-content:center;
  text-align: center;
  margin-top: 2rem;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.banner-image {
  position: center;
  height: 25rem;
  width: 25rem;
  border-radius: 12px;
  border: 0.9968px solid rgba(255,255,255, 0.255)
}

@media (min-width: 720px) {
  .wrapper {
    width: 100%;
    height: 100%;
    padding: 0%;
  }

  .banner-image {
    height: 25rem;
    width: 26rem;
  }

  .product {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20.0032px;
  }

.product-section p{
    margin-left: 5rem;
    margin-right: 5rem;
  }

}

@media (min-width: 1770px) {

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 0%;
  }

  .banner-image {
    height: 38rem;
    width: 35rem;
  }

  .banner-image:hover {
    height: 42rem;
    width: 38rem;
    transition: .5s;
  }

  .product {
    grid-template-columns: repeat(3, 1fr); 
    gap: 20.0032px;
  }

.product-section p{
    margin-left: 5rem;
    margin-right: 5rem;
  }

}