nav {
  padding: 0.2667rem;
}

header {
	margin-bottom: 0;
  padding: 1rem;
}

.nav_links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav_links li {
  margin: 0 9.9968px;
}

.nav_links li a {
  color: #333;
  text-decoration: none;
}

.nav_links li a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Insert tablet styles here */
  .nav_links {
    justify-content: flex-end;
    margin: 0;
  }
}

/* ------------------------------------------------------------- Styles for desktops ------------------------------------------------------------------------------------------------------ */
@media only screen and (min-width: 1023.9968px) {
  /* Insert desktop styles here */
  /* Navigation styling */
  .nav_links {
    justify-content: flex-end;
    margin: 0;
  }

}
